.Si{
    background-color: lightslategray;
    width: 100vw;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Siform{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #ffff;
    padding: 3rem 4rem;
    border: 5px solid blueviolet;
    border-radius: 1em;
    
}
.Siform>input{
    border: none;
    background-color: rgb(200, 227, 236);
    outline: none;
    padding: 0.5em;
}
.Sipassworddiv>input{
    border: none;
    outline:none;
    background-color: rgb(200, 227, 236);
}
.Siform>button{
    background-color: rgb(12, 117, 238);
    color: #ffff;
    font-size: large;
    font-weight: 550;
}
.Sipassworddiv{
    background-color: rgb(200, 227, 236);
    padding: 0.5em;

}