.Sp{
    background-color: lightslategray;
    width: 100vw;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Spform{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #ffff;
    padding: 3rem 4rem;
    border: 5px solid blueviolet;
    border-radius: 1em;
    
}
.Spform>input{
    border: none;
    background-color: rgb(200, 227, 236);
    outline: none;
    padding: 0.5em;
}
.Sppassworddiv>input{
    border: none;
    outline:none;
    background-color: rgb(200, 227, 236);
}
.Sppassworddiv{
    outline: auto;
    background-color: rgb(200, 227, 236);
    padding: 0.5em;

}