.MP{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    border: 2rem  solid rgb(138, 129, 9);
    padding: 0 2rem;
}
.MP>h1{
    color: rgb(140, 150, 9);
    font-size:5rem ;
}
.MP2c{
    display: flex;
    justify-content: space-between;
}
.MP2c>div{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.MP2cfbtn{
    background-color:rgb(140, 150, 9);
    color: white;
    font-size: large;
    font-weight: bold;
    border: none;
    padding: 0.3rem 0.5em;
}
.MP2csbtn{
    border: none;
    background: transparent;
    color: slategray;
    font-size: large;
}
.card{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}