.footermain{
    padding:0 2rem
}


.footer{
    display: flex;
    flex-direction: column;
}

.footermain{
    display: flex;
}

.footercard{
    flex: 1;
}

.footercard>span{
font-size: large;
display: block;
width: 12rem;
}

.footerIcons{
    display: flex;
    gap: 2rem;
}
.foioterfirst{
    padding-bottom: 5rem;
}

.footerlast{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(210, 214, 218);
    padding: 2rem 1rem;
}